<p id="notice"><%= notice %></p>

<p>
  <strong>Room number:</strong>
  <%= @resident.room_number %>
</p>

<p>
  <strong>Roll number:</strong>
  <%= @resident.roll_number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @resident.name %>
</p>

<p>
  <strong>Hostel:</strong>
  <%= @resident.hostel %>
</p>

<%= link_to 'Edit', edit_resident_path(@resident) %> |
<%= link_to 'Back', residents_path %>
